[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-rest-auth = "*"
django-cors-headers = "*"
django-assets = "*"
django-cronjobs = "*"
django-environ = "*"
django-geojson = "*"
django-pandas = "*"
djangorestframework = "*"
elasticsearch-dsl = "*"
gdal = {file = "..\\wheels\\GDAL-3.9.2-cp310-cp310-win_amd64.whl"}
geojson = "*"
gsconfig-py3 = "*"
lxml = "*"
matplotlib = "*"
numpy = "*"
openpyxl = "*"
owslib = "*"
pandas = "*"
psycopg2 = "*"
pycurl = "*"
pysftp = "*"
python-dateutil = "*"
shapely = "*"
django-suit-v2-pm = "*"
xclim = "*"
werkzeug = "==3.0.0"
ipdb = "==0.13.13"
watchgod = "==0.8.2"
mypy = "==1.5.1"
django-stubs = "==4.2.4"
pytest = "==7.4.2"
pytest-sugar = "==0.9.7"
sphinx = "==7.2.6"
sphinx-autobuild = "==2021.3.14"
flake8 = "==6.1.0"
flake8-isort = "==6.1.0"
coverage = "==7.3.2"
pylint-django = "==2.5.3"
pre-commit = "==3.4.0"
factory-boy = "==3.3.0"
django-debug-toolbar = "==4.2.0"
django-extensions = "==3.2.3"
django-coverage-plugin = "==3.1.0"
pytest-django = "==4.5.2"
django = "==4.2.5"
django-allauth = "==0.54.0"

[dev-packages]

[requires]
python_version = "3.10"
